
.products{
    display:flex;
}

.products-details{
    margin-right: 5px;
    box-sizing: border-box;
}
.products-details h3{
    color: blue;
}
.main-btn{
    width:150px;
    height:30px;
    background-color:gold;
    border: 1px solid gray;
    border-radius:5px;
    cursor: pointer;
}